container{    border: 2px solid blue !important;}
row{    border: 1px solid red !important;}
.row-header
{
    margin: 0px auto;
    padding: 0px auto;
}
#image
{
    border-radius: 30px;
    border: 2px solid black;
}
.row-content
{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:300px;
}
p
{
    font-style: italic;
}

.row-footer
{
    background-color:black;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}


.jumbotron
{
    height: 900px;
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background-image: url(img/pic.jpg);
    color: floralwhite;    
}

address
{
        font-size: 90%;
        margin: 0px;
        color:grey;
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-inverse {
     background:black;
}

.navbar-inverse .navbar-nav > .active > a
{
    color: #fff;
    background: #1a237e;
}
.navbar-inverse .navbar-nav > .active > a:hover
{
    color: #fff;
    background: #1a237e;
}
.navbar-inverse .navbar-nav > .active > a:focus
{
    color: #fff;
    background: #1a237e;
}
.navbar-inverse .navbar-nav > .open > a:hover
{
    color: #fff;
    background: #1a237e;
}
.navbar-inverse .navbar-nav > .open > a
{
    color: #fff;
    background: #1a237e;
}
.navbar-inverse .navbar-nav .open .dropdown-menu> li >a
{
        background-color:black;
        color:white;
}

.navbar-inverse .navbar-nav > .open > a:hover
{
    color: #fff;
    background: black;
}
.navbar-inverse .navbar-nav .open .dropdown-menu> li> a:hover {
    color:#000000;
}
.navbar-inverse .navbar-nav .open .dropdown-menu .dropdown-header
{
    color: grey;
    font-weight: bolder;
}
.navbar-inverse .navbar-nav .open .dropdown-menu
{
    background-color:black;
}
.breadcrumb > .act > a
{
    color: grey;
}
.breadcrumb
{
    font-weight: bold;
    margin-top:10px;
}
.label-default
{
    font-size: 18px;
    background-color: black;
    color:red;
    border-radius: 30px;
}
strong
{
    color: black;
}
.alert-warning > a
{
    color: black;
    text-decoration: none;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}


.affix 
{
    top:180px;
}


#myScrollspy ul li > a
{
    opacity: .6;
    color: white;
    background: #1a237e;
    border-radius: 50px;
    font-weight: bold;
    
}
#button
{
    color: white;
    font-weight: bold;
    opacity: .7;
    position: relative;
    top:250px;
}
#button:hover
{
    background: red;
}
h5
{
    color: grey;
        
}

.carousel {
    background:-webkit-linear-gradient(left,indigo,#000099,#000099,indigo);
    background-image: url(img/imp.jpg);
    border-radius: 5px;
    
}
.carousel .item {
  height: 350px;
}
.item img {
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 0px;
}


#carouselButtons {
    right:0px;
    position: absolute;
    bottom: 0px;
}

ul.social-buttons {
  margin-bottom: 0
}


ul.social-buttons li a {
  display: block;
  height: 40px;
  width: 40px;
  border:2px solid black; 
  border-radius: 100%;
  font-size: 15px;
  line-height: 40px;
  color: #ffffff;
  outline: 0;
  -webkit-transition: transform 2s,background 2s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #fed136;
}
ul.social-buttons li a:hover
{
    transform: rotate(360deg);
    background: #fed136;
}


.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: 0
}


#special >a
{
    background: red;
}

#special >a:hover
{
    background: #fed136;    
}

#sample
{
    color:black;
    font-weight:bold;
    font-style:italic;
    opacity:.8;
    position:relative;
    top:550px;

}
